<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <ion-grid>
    <ion-row id="logoRow">
      <ion-col class="ion-align-self-center">
        App Logo
      </ion-col>
    </ion-row>
    <ion-row id="labelsRow">
      <ion-col style="text-align: center;">
        <ion-label>Please enter your email address and we'll send you an email to reset your
          password</ion-label>
      </ion-col>
    </ion-row>
    <ion-row id="inputsRow">
      <form name="forgotPasswordForm" #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)"
        novalidate>
        <ion-item lines="none" class="input_box">
          <ion-label>
            <ion-icon name="mail-outline" color="light"></ion-icon>
          </ion-label>
          <ion-input type="text" color="light" value="" #email="ngModel" name="email" ngModel placeholder="Email"
            required email>
          </ion-input>
        </ion-item>
        <div *ngIf="forgotPasswordForm.touched && forgotPasswordForm.invalid">
          <div *ngIf="email.errors" class="errors-row">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>


        <div *ngIf="error != ''" class="errors-row">{{error}}</div>
        <ion-col size="12" class="ion-align-self-center">
          <ion-button expand="full" [disabled]="!forgotPasswordForm.valid" type="submit">Reset Password</ion-button>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>