#logoRow {
  height: 50vh;
  font-size: 1.5em;
}

ion-row {
  text-align: center;
  margin: 0;
  padding: 0;
}

ion-col {
  padding-top: 0;
  margin-top: 0;
}

#labelsRow {

  ion-col,
  ion-button {
    margin: 0;
    padding: 0;
    --padding-bottom: 0 !important;
    --padding-top: 0 !important;

  }

}

form {
  width: 100%;
}

.input_box {
  --background: var(--ion-color-primary) !important;
  width: 100%;
  padding-left: 7px;
  padding-right: 7px
}

.errors-row {
  font-size: 80%;
  color: #dc3545;
  width: 100%;
  margin-top: .25rem;
}